@font-face {
  font-family: 'Red Hat Display';
  src: url("/public/Fonts/RedHatDisplay-Regular.ttf") format('truetype');
}

html {
  scroll-behavior: smooth;
}
body {
  font-size: "16px";
  font-family: "Red Hat Display";
  color: "#616161";
  margin: 0px !important;
}
